@layer sprites {
    .pokemon-sprite {
      display: inline-block;
      width: 40px;
      height: 30px;
      margin: 0 auto;
      background-image: url('../assets/pokemonicons-sheet.png');
      background-repeat: no-repeat;
      image-rendering: pixelated;
    }
    /* mega evos start at -3300px Y coord */
  
    .pokemon-sprite.bulbasaur {
      background-position: -40px     0;
    }
    .pokemon-sprite.ivysaur {
      background-position: -80px   0;
    }
    .pokemon-sprite.venusaur {
      background-position: -120px   0;
    }
    .pokemon-sprite.mega-venusaur {
      background-position: 0px   -3300px;
    }
    .pokemon-sprite.charmander {
      background-position: -160px   0;
    }
    .pokemon-sprite.charmeleon {
      background-position: -200px   0;
    }
    .pokemon-sprite.charizard {
      background-position: -240px   0;
    }
    .pokemon-sprite.mega-charizard-x {
      background-position: -40px   -3300px;
    }
    .pokemon-sprite.mega-charizard-y {
      background-position: -80px   -3300px;
    }
    .pokemon-sprite.squirtle {
      background-position: -280px   0;
    }
    .pokemon-sprite.wartortle {
      background-position: -320px   0;
    }
    .pokemon-sprite.blastoise {
      background-position: -360px   0;
    }
    .pokemon-sprite.mega-blastoise {
      background-position: -120px   -3300px;
    }
    .pokemon-sprite.caterpie {
      background-position: -400px   0;
    }
    .pokemon-sprite.metapod {
      background-position: -440px   0;
    }
    .pokemon-sprite.butterfree {
      background-position: 0   -30px;
    }
    .pokemon-sprite.weedle {
      background-position: -40px   -30px;
    }
    .pokemon-sprite.kakuna {
      background-position: -80px   -30px;
    }
    .pokemon-sprite.beedrill {
      background-position: -120px   -30px;
    }
    .pokemon-sprite.mega-beedrill {
        background-position: -160px   -3300px;
    }
    .pokemon-sprite.pidgey {
      background-position: -160px   -30px;
    }
    .pokemon-sprite.pidgeotto {
      background-position: -200px   -30px;
    }
    .pokemon-sprite.pidgeot {
      background-position: -240px   -30px;
    }
    .pokemon-sprite.mega-pidgeot {
      background-position: -200px   -3300px;
    }
    .pokemon-sprite.rattata {
      background-position: -280px   -30px;
    }
    .pokemon-sprite.raticate {
      background-position: -320px   -30px;
    }
    .pokemon-sprite.rattata-alolan {
      background-position: -440px   -2850px;
    }
    .pokemon-sprite.raticate-alolan {
      background-position: 0   -2880px;
    }
    .pokemon-sprite.spearow {
      background-position: -360px   -30px;
    }
    .pokemon-sprite.fearow {
      background-position: -400px   -30px;
    }
    .pokemon-sprite.ekans {
      background-position: -440px   -30px;
    }
    .pokemon-sprite.arbok {
      background-position: 0   -60px;
    }
    .pokemon-sprite.pikachu {
      background-position: -40px   -60px;
    }
    .pokemon-sprite.raichu {
      background-position: -80px   -60px;
    }
    .pokemon-sprite.raichu-alolan {
      background-position: -40px   -2880px;
    }
    .pokemon-sprite.sandshrew {
      background-position: -120px   -60px;
    }
    .pokemon-sprite.sandslash {
      background-position: -160px   -60px;
    }
    .pokemon-sprite.sandshrew-alolan {
      background-position: -80px   -2880px;
    }
    .pokemon-sprite.sandslash-alolan {
      background-position: -120px   -2880px;
    }
  }